.banner {
  background: var(--rosa);
  color: var(--branco);
  text-align: center;
  padding: 2.5em 2em;
}

.banner_titulo {
  font-size: 18px;
  font-weight: 700;
}

.banner_texto {
  font-size: 16px;
  font-weight: 400;
  margin: 1em 0;
}

@media screen and (min-width: 1024px) {
  .banner_titulo {
    font-size: 38px;
  }
}
